* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100% !important;
}

:root {
    --back-blue: rgba(110, 110, 158, 0.922);
    --logo-orange: #cd5828;
    --dark-blue: rgb(60, 60, 104);

}

.nav {
    background-color: var(--dark-blue) !important;
}

.nav-item a{
    color: black;
    text-decoration: none;
}

body {
    background-color: var(--back-blue) !important;
}

.portfolio {
    color: black;

}

a h2 {
    color: var(--logo-orange) !important;
}

.card {
    background-color: var(--back-blue) !important;
}

.content {
    min-height: 1100px;
}