* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --back-blue: rgba(110, 110, 158, 0.922);
    --logo-orange: #cd5828;
    --dark-blue: rgb(60, 60, 104);

}

#nav {
    background-color: var(--dark-blue);
    color: var(--logo-orange);
}

body {
    background-color: var(--back-blue);
}